@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@*@{
    var movies = Model.Movies;
}*@

<section>
    <div class="row">
        @*@foreach (var movie in movies)
        {*@
            <div class="col-md-3">
                <a asp-controller="Movie" asp-action="MovieDetails" asp-route-id="@*@movie.MovieId*@" class="hvr-shutter-out-horizontal">
                    <div class="card mb-3" style="width: 16rem;">
                        <img class="card-img-top" src="@*@movie.ImageUrl*@" alt="@*@movie.Title @movie.Country (@movie.Year)*@">
                        <div class="card-body">
                            <p class="card-title text-center">@*@movie.Title*@</p>
                        </div>
                    </div>
                </a>
            </div>
        @*}*@
    </div>
</section>