@page
@model LoginModel

@{
    ViewData["Title"] = "Sign in";
}

<div class="sign section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <!-- authorization form -->
                    <form id="account" method="post" class="sign__form">
                        <a href="index.html" class="sign__logo">
                            <img src="~/img/logo.svg" alt="">
                        </a>

                        <div asp-validation-summary="All" class="text-danger" style="color:red"></div>
                        <div class="sign__group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="sign__input" />
                            <div>
                                <span asp-validation-for="Input.Email" class="text-danger" style="color:red"></span>
                            </div>

                        </div>
                        <div class="sign__group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="sign__input" />
                            <div>
                                <span asp-validation-for="Input.Password" class="text-danger" style="color: red"></span>
                            </div>

                        </div>
                        <button class="sign__btn" type="submit">Sign in</button>

                        <span class="sign__text">Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up!</a></span>
                    </form>
                    <!-- end authorization form -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
