@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign up";
}

<div class="sign section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <!-- registration form -->
                    <form class="sign__form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <a class="sign__logo" asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo.svg" alt="Logo">
                        </a>

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="sign__group">
                            <input asp-for="Input.Email" type="text" class="sign__input" placeholder="Email">
                            <div><span asp-validation-for="Input.Email" class="text-danger" style="color:red"></span></div>
                        </div>

                        <div class="sign__group">
                            <input asp-for="Input.Password" type="password" class="sign__input" placeholder="Password">
                            <div><span asp-validation-for="Input.Password" class="text-danger" style="color:red"></span></div>
                        </div>

                        <div class="sign__group">
                            <input asp-for="Input.ConfirmPassword" type="password" class="sign__input" placeholder="Confirm Password">
                            <div><span asp-validation-for="Input.ConfirmPassword" class="text-danger" style="color:red"></span></div>
                        </div>

                        @*<div class="sign__group sign__group--checkbox">
                            <input id="remember" name="remember" type="checkbox" checked="checked">
                            <label for="remember">I agree to the <a href="#">Privacy Policy</a></label>
                        </div>*@

                        <button class="sign__btn" type="submit">Sign up</button>

                        <span class="sign__text">Already have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Sign in!</a></span>
                    </form>
                    <!-- registration form -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
