@model MovieFormModel

@{ ViewData["Title"] = "Add Movie"; }
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-2 col-xl-8">
        <h2 class="heading-margin text-center text-dark">Add Movie</h2>

        <form method="post">
            <div class="form-group">
                <label class="text-dark" asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Fast & Furious 9,Transformers – Die Rache...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="DirectorFirstName">Director first name</label>
                        <input type="text" class="form-control" id="DirectorFirstName" placeholder="First name" >
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="DirectorLastName">Director first name</label>
                        <input type="text" class="form-control" id="DirectorLastName" placeholder="Last name" >
                    </div>
                    <button type="button" class="btn" id="addDirector"><i class="fas fa-plus"></i></button>
                </div>
                <label class="text-dark" asp-for="Directors"></label>
                <textarea asp-for="Directors" class="form-control" id="directorTextArea"  required></textarea>
                <span asp-validation-for="Directors" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="ActorFirstName">Actor first name</label>
                        <input type="text" class="form-control" id="ActorFirstName" placeholder="First name" >
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="ActorLastName">Actor first name</label>
                        <input type="text" class="form-control" id="ActorLastName" placeholder="Last name" >
                    </div>
                    <button type="button" class="btn" id="addActor"><i class="fas fa-plus"></i></button>
                </div>
                <label class="text-dark" asp-for="Actors"></label>
                <textarea asp-for="Actors" rows="2" class="form-control" id="ActorTextArea"  required></textarea>
                <span asp-validation-for="Actors" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-dark" asp-for="Year"></label>
                <input asp-for="Year" class="form-control" placeholder="@DateTime.UtcNow.Year">
                <span asp-validation-for="Year" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-dark" asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="www.www/...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-dark" asp-for="WatchUrl"></label>
                <input asp-for="WatchUrl" class="form-control" placeholder="www.www/...">
                <span asp-validation-for="WatchUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-dark" asp-for="Country"></label>
                <input asp-for="Country" class="form-control" placeholder="Bulgaria,USA,Germany...">
                <span asp-validation-for="Country" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-dark" asp-for="Duration"></label>
                <input asp-for="Duration" class="form-control" placeholder="180">
                <span asp-validation-for="Duration" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-dark" asp-for="GenreId"></label>
                <select asp-for="GenreId" class="form-control">
                    @foreach (var genre in Model.Genres)
                    {
        <option value="@genre.GenreId">@genre.Name</option>
}
                </select>
                <span asp-validation-for="GenreId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-dark" asp-for="Descriptions"></label>
                <textarea asp-for="Descriptions" rows="3" class="form-control" placeholder="Descriptions...."></textarea>
                <span asp-validation-for="Descriptions" class="small text-danger"></span>
            </div>
            <input class="btn btn-primary" type="submit" value="Save" />
        </form>
    </div>
</div>
<script>
    let addDirectorButton = document.querySelector('#addDirector');

    let addDirector = addDirectorButton.addEventListener('click', (e) => {
        let directorFirstName = document.querySelector('#DirectorFirstName');
        let directorLastName = document.querySelector('#DirectorLastName');
        let directorTextArea = document.querySelector('#directorTextArea');

        directorTextArea.textContent += `${directorFirstName.value} ${directorLastName.value}, `;

        directorFirstName.value = ``;
        directorLastName.value = ``;
    });

    let addActorButton = document.querySelector('#addActor');

    let addActor = addActorButton.addEventListener('click', (e) => {

        let ActorFirstName = document.querySelector('#ActorFirstName');
        let ActorLastName = document.querySelector('#ActorLastName');
        let ActorTextArea = document.querySelector('#ActorTextArea');

        ActorTextArea.textContent += `${ActorFirstName.value} ${ActorLastName.value}, `;

        ActorFirstName.value = ``;
        ActorLastName.value = ``;
    });
</script>
