@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700"
          rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="~/css/nouislider.min.css" />
    <link rel="stylesheet" href="~/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/css/plyr.css" />
    <link rel="stylesheet" href="~/css/photoswipe.css" />
    <link rel="stylesheet" href="~/css/default-skin.css" />
    <link rel="stylesheet" href="~/css/main.css" />


    <title color:"red">@ViewData["Title"] - Net Movies</title>
</head>
<body>
    <header class="header">
        <div class="header__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__content">
                            <!-- header logo -->
                            <a class="header__logo" asp-controller="Home" asp-action="Index">
                                <img src="~/img/logo.svg" alt="" />
                            </a>
                            <!-- end header logo -->
                            <!-- header nav -->
                            <ul class="header__nav">
                                <!-- dropdown -->
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li class="header__nav-item">
                                        <a class="dropdown-toggle header__nav-link"
                                           href="#"
                                           role="button"
                                           id="dropdownMenuHome"
                                           data-toggle="dropdown"
                                           aria-haspopup="true"
                                           aria-expanded="false">Home</a>

                                        <ul class="dropdown-menu header__dropdown-menu"
                                            aria-labelledby="dropdownMenuHome">
                                            <li><a asp-area="" asp-controller="Movie" asp-action="Add">Add Movie</a></li>
                                            <li><a asp-area="" asp-controller="MyMovie" asp-action="MyAllMovies">My Movies</a></li>
                                        </ul>
                                    </li>
                                }
                                <!-- end dropdown -->
                                <!-- dropdown -->
                                <li class="header__nav-item">
                                    <a class="dropdown-toggle header__nav-link"
                                       href="#"
                                       role="button"
                                       id="dropdownMenuCatalog"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">Catalog</a>

                                    <ul class="dropdown-menu header__dropdown-menu"
                                        aria-labelledby="dropdownMenuCatalog">
                                        <li><a asp-area="" asp-controller="Movie" asp-action="All">Movies</a></li>
                                        <li><a asp-area="" asp-controller="TvSeries" asp-action="TvSeries">TV Series</a></li>
                                        <li><a asp-area="" asp-controller="WatchList" asp-action="MovieList">Watch List</a></li>
                                    </ul>
                                </li>
                                <!-- end dropdown -->

                                <li class="header__nav-item">
                                    <a href="pricing.html" class="header__nav-link">Pricing Plan</a>
                                </li>
                                <!-- dropdown -->
                                <li class="dropdown header__nav-item">
                                    <a class="dropdown-toggle header__nav-link header__nav-link--more"
                                       href="#"
                                       role="button"
                                       id="dropdownMenuMore"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="fas fa-grip-horizontal"></i>
                                    </a>

                                    <ul class="dropdown-menu header__dropdown-menu"
                                        aria-labelledby="dropdownMenuMore">
                                        <li><a href="about.html">About</a></li>
                                        <li><a asp-area="Identity" asp-page="/Account/Login">Sign In</a></li>
                                        <li><a asp-area="Identity" asp-page="/Account/Register">Sign Up</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <!-- end dropdown -->
                            </ul>
                            <!-- end header nav -->
                            <!-- header auth -->
                            <div class="header__auth">
                                <button class="header__search-btn" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                                @if (!SignInManager.IsSignedIn(User))
                                {
                                    <a asp-area="Identity" asp-page="/Account/Login" class="header__sign-in">
                                        <i class="icon ion-ios-log-in"></i>
                                        <span>sign in</span>
                                    </a>
                                }
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <form class="header__sign-in" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" style="color:azure">Logout</button>
                                    </form>
                                }
                            </div>
                            <!-- end header auth -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header search -->
        <form action="#" class="header__search">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__search-content">
                            <input type="text"
                                   placeholder="Search for a movie, TV Series that you are looking for" />

                            <button type="button">search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- end header search -->
    </header>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NetMovies</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Add">Add Movie</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="Search">Search Movie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="WatchList" asp-action="MovieList">Watch List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MyMovie" asp-action="MyAllMovies">My Movies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="All">Movies</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>*@
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <!-- footer list -->
                <div class="col-12 col-md-3">
                    <h6 class="footer__title">Download Our App</h6>
                    <ul class="footer__app">
                        <li>
                            <a href="https://www.apple.com/de/app-store/">
                                <img src="img/Download_on_the_App_Store_Badge.svg" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/"><img src="img/google-play-badge.png" alt="" /></a>
                        </li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Resources</h6>
                    <ul class="footer__list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Pricing Plan</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Legal</h6>
                    <ul class="footer__list">
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Security</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer list -->
                <div class="col-12 col-sm-4 col-md-3">
                    <h6 class="footer__title">Contact</h6>
                    <ul class="footer__list">
                        <li><a href="tel:+18002345678">+1 (800) 234-5678</a></li>
                        <li>
                            <a href="mailto:support@moviegodasef.com">support@netmovies.com</a>
                        </li>
                    </ul>
                    <ul class="footer__social">
                        <li class="facebook">
                            <a href="https://www.facebook.com/"><i class="icon ion-logo-facebook"></i></a>
                        </li>
                        <li class="instagram">
                            <a href="https://www.instagram.com/"><i class="icon ion-logo-instagram"></i></a>
                        </li>
                        <li class="twitter">
                            <a href="https://twitter.com/"><i class="icon ion-logo-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer copyright -->
                <div class="col-12">
                    <div class="footer__copyright">
                        <small>
                            <a target="_blank" href="https://github.com/velizarganchev/Project-NetFIlms">Open Source Project</a>
                        </small>

                        <ul>
                            <li><a asp-area="" asp-controller="Movie" asp-action="All">Movies</a></li>
                            <li><a asp-area="" asp-controller="TvSeries" asp-action="TvSeries">TV Series</a></li>
                            <li><a asp-area="" asp-controller="WatchList" asp-action="MovieList">Watch List</a></li>
                            <li>
                                <p style="color: #FF5866 ">
                                    "© 2020 Cinema World. All rights reserved | Design by "
                                    <a href="https://www.templateshub.net">Templates Hub</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end footer copyright -->
            </div>
        </div>
    </footer>
    <!-- end footer -->
    @*<footer class="border-top footer text-muted">
            <div class="container text-dark">
                &copy; @DateTime.Today.Year - NetMovies - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.mousewheel.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/js/wNumb.js"></script>
    <script src="~/js/nouislider.min.js"></script>
    <script src="~/js/plyr.min.js"></script>
    <script src="~/js/jquery.morelines.min.js"></script>
    <script src="~/js/photoswipe.min.js"></script>
    <script src="~/js/photoswipe-ui-default.min.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
