@model MovieFormModel

@{ ViewData["Title"] = "Edit Movie"; }
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-2 col-xl-8">
        <h2 class="heading-margin text-center">Edit Movie</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Fast & Furious 9,Transformers – Die Rache...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Directors"></label>
                <input asp-for="Directors" class="form-control" placeholder="Vin Diesel, Justin Lin...">
                <span asp-validation-for="Directors" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actors"></label>
                <textarea asp-for="Actors" rows="2" class="form-control" placeholder="Dwayne Johnson,Vin Diesel,Jordana Brewster..."></textarea>
                <span asp-validation-for="Actors" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" placeholder="@DateTime.UtcNow.Year">
                <span asp-validation-for="Year" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="www.www/...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WatchUrl"></label>
                <input asp-for="WatchUrl" class="form-control" placeholder="www.www/...">
                <span asp-validation-for="WatchUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country"></label>
                <input asp-for="Country" class="form-control" placeholder="Bulgaria,USA,Germany...">
                <span asp-validation-for="Country" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration"></label>
                <input asp-for="Duration" class="form-control" placeholder="180">
                <span asp-validation-for="Duration" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId"></label>
                <select asp-for="GenreId" class="form-control">
                    @foreach (var genre in Model.Genres)
                    {
        <option value="@genre.GenreId">@genre.Name</option>}
                </select>
                <span asp-validation-for="GenreId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriptions"></label>
                <textarea asp-for="Descriptions" rows="3" class="form-control" placeholder="Descriptions...."></textarea>
                <span asp-validation-for="Descriptions" class="small text-danger"></span>
            </div>
            <input class="btn btn-primary" type="submit" value="Save" />
        </form>
    </div>
</div>
